<h1>Job</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ entity.type }}</td>
        </tr>
        <tr>
            <th>Company</th>
            <td>{{ entity.company }}</td>
        </tr>
        <tr>
            <th>Logo</th>
            <td>{{ entity.logo }}</td>
        </tr>
        <tr>
            <th>Url</th>
            <td>{{ entity.url }}</td>
        </tr>
        <tr>
            <th>Position</th>
            <td>{{ entity.position }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ entity.location }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>How_to_apply</th>
            <td>{{ entity.howtoapply }}</td>
        </tr>
        <tr>
            <th>Token</th>
            <td>{{ entity.token }}</td>
        </tr>
        <tr>
            <th>Is_public</th>
            <td>{{ entity.ispublic }}</td>
        </tr>
        <tr>
            <th>Is_activated</th>
            <td>{{ entity.isactivated }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Expires_at</th>
            <td>{{ entity.expiresat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Created_at</th>
            <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updated_at</th>
            <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('hcuv_job') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('hcuv_job_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('hcuv_job_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
